<%= render 'layouts/page_title', title: @recipe.name %>

<div class="row">
	<div class="col-md-8 wrap-break">
		<h1><small><%= @recipe.summary %></small></h1>
		<%= image_tag(@recipe.image.url, class: "gravatar") if @recipe.image?%>
		<div class="well">
			<p>
				<strong>Steps:</strong> <br />
				<%= @recipe.description %>
			</p>
			<div class="pull-right likes-div">
				<%= link_to like_recipe_path(@recipe, like: true), method: :post do %>
				<span class="glyphicon glyphicon-thumbs-up" aria-hidden="true"></span>
				<% end %>
				<%= @recipe.like_count %>
				
				<%= link_to like_recipe_path(@recipe, like: false), method: :post do %>
				<span class="glyphicon glyphicon-thumbs-down" aria-hidden="true"></span>
				<% end %>
				<%= @recipe.dislike_count %>
			</div>
		</div>
	</div>
	<div class="col-md-4 text-center">
		<%= link_to gravatar_for(@recipe.chef, size: 200), chef_path(@recipe.chef) %>
		<p>By: <strong><%= link_to @recipe.chef.chefname, chef_path(@recipe.chef) %></strong></p>
		<p class="small">
			<% unless @recipe.updated_at == @recipe.created_at %>
				Updated <%= time_ago_in_words(@recipe.updated_at) %> ago<br />
			<% end %>
			Created <%= time_ago_in_words(@recipe.created_at) %> ago
		</p>
	</div>
</div>

<%= link_to "Return to Recipes Listing", recipes_path, class: "btn btn-warning btn-sm" %>
<% if @recipe.chef == current_user %>
<%= link_to "Edit Recipe", edit_recipe_path(@recipe), class: "btn btn-primary btn-sm" %>
<% end %>
