<div class="jumbotron">
		<h1>Welcome to myRecipes App</h1>
		<h2>This is the website for the Ruby on Rails udemy course.</h2>
		<%= link_to "Sign In", "", class: "btn btn-lg btn-primary" %>
		<%= link_to "Sign Up", "", class: "btn btn-lg btn-success" %>
</div>

<div class="row text-left">
	<div class="col-xs-4">
		<h3>View Recipes as Guest User</h3>
		<p>Browse and view recipes as a guest. Sign up later!<p>
		<%= link_to "View Recipes", "", class: "btn btn-small btn-warning" %>
	</div>
	<div class="col-xs-4">
		<h3>View Recipes as Guest User</h3>
		<p>Browse and view recipes as a guest. Sign up later!<p>
		<%= link_to "View Recipes", "", class: "btn btn-small btn-warning" %>
	</div>
	<div class="col-xs-4">
		<h3>View Recipes as Guest User</h3>
		<p>Browse and view recipes as a guest. Sign up later!<p>
		<%= link_to "View Recipes", "", class: "btn btn-small btn-warning" %>
	</div>
</div>
